<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="spNLauncherArma3.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <userSettings>
    <spNLauncherArma3.Properties.Settings>
      <setting name="noLogs" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="noPause" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="noSplash" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="noCB" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="enableHT" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="skipIntro" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="window" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="winxp" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="showScriptErrors" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="world" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="world_value" serializeAs="String">
        <value>Empty</value>
      </setting>
      <setting name="maxMem" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="maxMem_value" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="malloc" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="malloc_value" serializeAs="String">
        <value />
      </setting>
      <setting name="maxVRAM" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="maxVRAM_value" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="exThreads" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="exThreads_value" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="cpuCount" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="cpuCount_value" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="Arma3Folder" serializeAs="String">
        <value />
      </setting>
      <setting name="TS3Folder" serializeAs="String">
        <value />
      </setting>
      <setting name="JSRS" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="BlastCore" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="firstLaunch" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="UpdateSettings" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="noBenchmark" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="activeMods" serializeAs="String">
        <value />
      </setting>
      <setting name="AddonsFolder" serializeAs="String">
        <value />
      </setting>
      <setting name="cModsFolder_value" serializeAs="String">
        <value />
      </setting>
      <setting name="runLegacy" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="lastAddonPack" serializeAs="String">
        <value>spn_lite</value>
      </setting>
      <setting name="downloadQueue" serializeAs="String">
        <value />
      </setting>
      <setting name="startGameAfterDownload" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="runLauncherOnStartup" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="allowNotifications" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="autoDownload" serializeAs="String">
        <value>True</value>
      </setting>
    </spNLauncherArma3.Properties.Settings>
  </userSettings>
</configuration>